@font-face {
    font-family: 'oxygen-bold';
    src: url('Oxygen/oxygen-bold-webfont.eot');
    src: url('Oxygen/oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('Oxygen/oxygen-bold-webfont.woff') format('woff'),
    url('Oxygen/oxygen-bold-webfont.ttf')  format('truetype'),
    url('Oxygen/oxygen-bold-webfont.svg#svgoxygen-bold') format('svg');
}

@font-face {
    font-family: 'oxygen-italic';
    src: url('Oxygen/oxygen-italic-webfont.eot');
    src: url('Oxygen/oxygen-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('Oxygen/oxygen-italic-webfont.woff') format('woff'),
    url('Oxygen/oxygen-italic-webfont.ttf')  format('truetype'),
    url('Oxygen/oxygen-italic-webfont.svg#svgoxygen-italic') format('svg');
}

@font-face {
    font-family: 'oxygen';
    src: url('Oxygen/oxygen-webfont.eot');
    src: url('Oxygen/oxygen-webfont.eot?#iefix') format('embedded-opentype'),
    url('Oxygen/oxygen-webfont.woff') format('woff'),
    url('Oxygen/oxygen-webfont.ttf')  format('truetype'),
    url('Oxygen/oxygen-webfont.svg#svgoxygen') format('svg');
}

@font-face {
    font-family: 'corbert-italic';
    src: url('Corbert/corbert-italic-webfont.eot');
    src: url('Corbert/corbert-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('Corbert/corbert-italic-webfont.woff') format('woff'),
    url('Corbert/corbert-italic-webfont.ttf')  format('truetype'),
    url('Corbert/corbert-italic-webfont.svg#svgcorbert-italic') format('svg');
}

@font-face {
    font-family: 'corbert';
    src: url('Corbert/corbert-regular-webfont.eot');
    src: url('Corbert/corbert-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('Corbert/corbert-regular-webfont.woff') format('woff'),
    url('Corbert/corbert-regular-webfont.ttf')  format('truetype'),
    url('Corbert/corbert-regular-webfont.svg#svgcorbert') format('svg');
}