/* WEBFONTS */
@import url("../fonts/fonts.css");
/* VARIABLES
=================================================================
*/
/* LAYOUT
=================================================================
*/
/* GENERAL STUFF */
.row {
  max-width: 74.5rem; }

input:focus {
  outline: none; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'corbert-regular', Helvetica, Arial, sans-serif;
  background-color: #f4f4f4; }

h1, h2, h3 {
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
  color: #777777; }

h1 small {
  color: #9f9f9f; }

.inline-list > li {
  margin-left: 0.375rem; }

p {
  color: #777777; }

a {
  text-decoration: none;
  color: #777777; }

a:hover, a:active {
  color: #777777; }

ul {
  margin-left: 0;
  margin-bottom: 0; }

li {
  list-style: none; }

/* CLEARFIX */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* LAYOUT */
.header .logo {
  padding: 12px; }

.subnav {
  padding-left: 2em; }
  .subnav .divider {
    border-right: 1px solid #9f9f9f; }
  .subnav .active {
    color: #91b1b4; }

.fw-container-nav {
  width: 100%; }
  .fw-container-nav .main-nav {
    height: 48px;
    margin-bottom: 24px; }
    .fw-container-nav .main-nav .nav-list {
      text-align: center; }
      .fw-container-nav .main-nav .nav-list li .active {
        color: #f4f4f4; }
      .fw-container-nav .main-nav .nav-list li a {
        padding-top: 6px;
        display: block;
        width: 100%;
        height: 100%;
        background: #a2e1ac;
        font-family: 'Oxygen', Helvetica, Arial, sans-serif;
        font-size: 1.4em;
        font-weight: 700;
        color: #84c38e; }
      .fw-container-nav .main-nav .nav-list li a:hover {
        background: #98d7a2; }
    .fw-container-nav .main-nav .f-dropdown {
      text-align: left;
      max-width: none;
      width: auto;
      padding: 12px; }
      .fw-container-nav .main-nav .f-dropdown li a {
        background: #fff;
        font-size: 1.2em;
        color: #777777; }
      .fw-container-nav .main-nav .f-dropdown li a:hover {
        background: #f0f0f0; }

.fw-container-main {
  width: 100%;
  background: #fcfcfc; }
  .fw-container-main .content {
    padding-top: 12px;
    min-height: 400px; }

.fw-container-footer {
  width: 100%;
  background: #f4f4f4; }
  .fw-container-footer .footer {
    padding-top: 8px;
    text-align: center; }

.login h1 {
  display: block;
  max-width: 400px;
  margin: 0 auto 12px auto; }
.login .alert {
  max-width: 400px;
  margin: 0 auto 1em auto;
  font-size: 1.2em; }

.login-form {
  max-width: 400px;
  margin: 0 auto 4em auto; }
  .login-form input[type="text"], .login-form input[type="submit"] {
    height: 60px;
    font-size: 1.2em; }
  .login-form input[type="submit"] {
    font-size: 1.4em; }
  .login-form input[type="checkbox"] {
    margin-top: 0.3em;
    margin-left: 0.4em; }
  .login-form input:focus {
    background-color: #ffffff; }
  .login-form label {
    line-height: 0;
    color: #999; }
  .login-form .button {
    background-color: #b9d9dc; }
  .login-form .button:hover {
    background-color: #a5c5c8; }

/**
 * Checkbox Five
 */
.checkboxFive {
  width: 25px;
  position: relative;
  margin-bottom: 1em; }
  .checkboxFive .remember-label {
    display: block;
    position: absolute;
    left: 38px;
    top: 6px;
    width: 120px;
    color: #777777; }

/**
 * Create the box for the checkbox
 */
.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: -5px;
  background: #eee;
  border: 1px solid #ddd; }

/**
 * Display the tick inside the checkbox
 */
.checkboxFive label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 14px;
  height: 8px;
  font-size: 2em;
  background: transparent;
  top: 6px;
  left: 5px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

/**
 * Create the hover event of the tick
 */
.checkboxFive label:hover::after {
  opacity: 0.5; }

/**
 * Create the checkbox state for the tick
 */
.checkboxFive input[type=checkbox]:checked + label:after {
  opacity: 1; }

/* LIST */
.no-translation {
  color: #c0312e; }
  .no-translation i {
    margin-right: 0.4em; }

.content {
  padding-right: 0;
  overflow-x: scroll; }
  .content i {
    font-size: 1.4em;
    margin-right: 0.6em; }
  .content .button {
    padding: 12px;
    margin-top: 1.6em;
    background: #b9d9dc; }
    .content .button:hover {
      background: #a5c5c8; }
    .content .button i {
      font-size: 1.2em;
      margin-right: 0.5em; }
  .content table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
    text-indent: 0px; }
  .content th {
    padding-right: 0;
    background: #b9d9dc;
    color: #fff;
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
    font-size: 1.1em; }

/* CREATE FORMS */
.create form label {
  display: inline; }
.create form label + i {
  color: #777777;
  font-size: 0.8em; }
