@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url("foundation-icons.css");
/* WEBFONTS */
@font-face {
  font-family: 'corbert-regular';
  src: url("../../fonts/corbert-regular-webfont.eot");
  src: url("../../fonts/corbert-regular-webfont.woff") format("woff"), url("../../fonts/corbert-regular-webfont.ttf") format("truetype"), url("../../fonts/corbert-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'corbert-italic';
  src: url("../../fonts/corbert-italic-webfont.eot");
  src: url("../../fonts/corbert-italic-webfont.woff") format("woff"), url("../../fonts/corbert-italic-webfont.ttf") format("truetype"), url("../../fonts/corbert-italic-webfont.svg") format("svg");
  font-weight: normal;
  font-style: italic; }

/* VARIABLES
=================================================================
*/
/* LAYOUT
=================================================================
*/
/* GENERAL STUFF */
.row {
  max-width: 74.5rem; }

input:focus {
  outline: none; }

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'corbert-regular', Helvetica, Arial, sans-serif;
  background-color: #f4f4f4; }

h1, h2, h3 {
  font-family: 'Oxygen', Helvetica, Arial, sans-serif;
  color: #777777; }

h1 small {
  color: #9f9f9f; }

.inline-list > li {
  margin-left: 0.375rem; }

p {
  color: #777777; }

a {
  text-decoration: none;
  color: #777777; }

a:hover, a:active {
  color: #777777; }

ul {
  margin-left: 0;
  margin-bottom: 0; }

li {
  list-style: none; }

/* CLEARFIX */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* LAYOUT */
.header .logo {
  padding: 12px; }

.subnav {
  padding-left: 2em; }
  .subnav .divider {
    border-right: 1px solid #9f9f9f; }

.fw-container-nav {
  width: 100%;
  background: #a2e1ac; }
  .fw-container-nav .main-nav {
    height: 48px; }
    .fw-container-nav .main-nav .nav-list {
      text-align: center; }
      .fw-container-nav .main-nav .nav-list li.first {
        border-right: 3px solid #84c38e;
        padding-right: 0; }
      .fw-container-nav .main-nav .nav-list li.second {
        padding-left: 0;
        padding-right: 0; }
      .fw-container-nav .main-nav .nav-list li.last {
        border-left: 3px solid #84c38e;
        padding-left: 0; }
      .fw-container-nav .main-nav .nav-list li .active {
        color: #f4f4f4; }
      .fw-container-nav .main-nav .nav-list li a {
        padding-top: 4px;
        display: block;
        width: 100%;
        height: 100%;
        font-family: 'Oxygen', Helvetica, Arial, sans-serif;
        font-size: 1.4em;
        font-weight: 700;
        color: #84c38e; }

.fw-container-main {
  width: 100%;
  background: #fcfcfc; }
  .fw-container-main .content {
    padding-top: 12px;
    min-height: 400px;
    background: #fcfcfc; }

.footer {
  padding-top: 8px;
  text-align: center; }
