/* WEBFONTS */
@import url('../fonts/fonts.css');

/* VARIABLES
=================================================================
*/

$header_background : #f4f4f4;
$header_title_font : 'oxygen-bold';
$font : 'corbert';
$font2: 'oxygen';
$blue : #b9d9dc;
$green : #a2e1ac;
$dark-grey: #777777;

/* LAYOUT
=================================================================
*/

/* GENERAL STUFF */
.row{
  max-width: 74.5rem;
}

input:focus {
  outline:none;
}
body{
  font-family: $font;
  color:#999;
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -66px;
}
.page-wrap:after {
  content: "";
  display: block;
}
#footer, .page-wrap:after {
  height: 66px;
}
.breadcrumbs{
  border-radius: 0;
}

/* HEADER */
#header{
  background: $header_background;
  position:relative;
  padding-bottom: 20px;
  margin-bottom:50px;
  border-bottom:1px solid #dcdcdc;
  h1 {
    font-family: $header_title_font;
    font-size: 3.3em;
    text-align: left;
    position: absolute;
    left: 65px;
    top: 51px;
    color: $dark-grey;
  }
  #logo{
    margin:37px 0 10px -20px;
    height:70px;
  }
  .subnav{
    padding-left: 2em;
    .divider{
      border-right: 1px solid $dark-grey + 40;
    }
    .active{
      color: $blue - 40;
    }
    .active:hover{
      text-decoration: underline;
    }
  }
  .inline-list>li>*{
    display: inline;
  }
}

.navigation{
    position: absolute;
    right:0;
    bottom:5px;
    a{
      padding:20px;
      font-family: $header_title_font;
      font-size:24px;
      color:#999999;
      transition-duration:0.5s;
      -moz-transition-duration:0.5s;
      -o-transition-duration:0.5s;
      -webkit-transition-duration: 0.5s;
    }
    a:hover{
      color: #222222;
      transition-duration:0.5s;
      -moz-transition-duration:0.5s;
      -o-transition-duration:0.5s;
      -webkit-transition-duration: 0.5s;
    }
    a:last-of-type{
      padding-right:0;
    }
  }

/* INTRO */
.intro{
  margin-bottom:30px !important;
}

/* PAGE NAVIGATION*/
.page_navigation{
  background: #b9d9dc; /* Old browsers */
  background: -moz-linear-gradient(left,  #b9d9dc 49%, #a2e1ac 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(49%,#b9d9dc), color-stop(50%,#a2e1ac)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #b9d9dc 49%,#a2e1ac 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #b9d9dc 49%,#a2e1ac 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #b9d9dc 49%,#a2e1ac 50%); /* IE10+ */
  background: linear-gradient(to right,  #b9d9dc 49%,#a2e1ac 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d9dc', endColorstr='#a2e1ac',GradientType=1 ); /* IE6-9 */
  .spelzoeken{
    height: 226px;
    h2{
      font-family:$font2;
      color:#fff;
    }
    p,a{
      color:#fff;
    }
    a:first-child{
      text-decoration: underline;
    }
    i{
      margin: 4px;
      display: block;
      font-size: 2em;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    .button{
      background:#86A6A9;
      font-size:18px;
      font-family: $font2;
      padding: 0px 20px;
    }
    .button:hover{
      background: #537376;
    }
  }
  .aanmelden{
    h2{
      font-family:$font2;
      color:#fff;
    }
    h3{
      font-family:$font2;
      color:#fff;
    }
    i{
      margin: 4px;
      display: block;
      font-size: 2em;
    }
    p,a{
      color:#fff;
    }
    a:first-child{
      text-decoration: underline;
    }
    .button{
      background:#7fc98b;
      font-size:18px;
      font-family: $font2;
      padding: 0px 20px;
    }
    .button:hover{
      background: #4C9658;
    }
    small.error{
      margin-top: 0px;
      margin-left: -47px;
      margin-right: 1px;
    }
  }
}
.page_nav{
  background:$blue;
  .button{
    background:#86A6A9;
    font-size:18px;
    font-family: $font2;
    padding: 0px 20px;
  }
  .button:hover{
    background: #537376;
  }
  h2{
    font-family:$font2;
    color:#fff;
  }
  p,a{
    color:#fff;
  }
  a:first-child{
    text-decoration: underline;
  }
  i{
    margin: 4px;
    display: block;
    font-size: 2em;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

/* CONTACT */
#contact{
  margin-top:50px;
  margin-bottom:50px;
  .contact{
    padding-left:30px;
  }
  h2,a{
    color: #999999;
    transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    -webkit-transition-duration: 0.5s;
  }
  a:hover{
    color:#222222;
    transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    -webkit-transition-duration: 0.5s;
  }
  i{
    margin-top:10px;
    font-size: 3em;
  }
  .inline-list>li{
      margin-right:20px;
  }
}
/* FOOTER */
#footer{
  background: $header_background;
  border-top:1px solid #dcdcdc;
  p{
    text-align: center;
    padding:20px 0;
    margin-bottom:0;
  }
}

/* PROFIEL */
#profiel{
  h2{
    color:#999999;
  }
  .liststyle li{
    list-style: none;
    a{
      padding:10px 10px 10px 0;
      display: block;
      color:#222222;
    }
    ul li a{
      padding:5px;
    }
  }
  .button{
    background:$header_background;
    border:1px solid #dcdcdc;
    color:$dark-grey;
  }
  .button:hover{
    background:#DBDBDB;
    border:1px solid #999999;
    color:#444444;
  }
  .panel_blue{
    background:$blue;
    .panel_title{
      border-bottom:1px solid #ffffff;
    }
    h3{
      color:#ffffff;
      padding:10px 15px 0;
      i{
        display: block;
        margin-top:6px;
      }
    }
  }
  .panel_green{
    background:$green;
    .panel_title{
      border-bottom:1px solid #ffffff;
    }
    h3{
      color:#ffffff;
      padding:10px 15px 0;
      i{
        display: block;
        margin-top:6px;
      }
    }
  }
  label:first-letter{
    text-transform: capitalize;
  }
  .add-client{
    border: 1px solid #fff;
    text-align: center;
    padding: 2px 10px 5px 10px;
    margin-top: -4px;
    margin-right: -8px;
    background: #b9d9dc;
    color: #fff;
    transition:0.3s;
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    -o-transition:0.3s;
  }
  .add-client:hover{
    background:#fff !important;
    color:#b9d9dc !important;
  }
}

/* DETAIL SPEL */
.detailspel{
  margin-bottom:50px;
}
.wishlist i{
  color:$blue;
}

/* REGISTREREN */
#registreren{
  .button{
    background:$header_background;
    border:1px solid #dcdcdc;
    color:$dark-grey;
  }
  .button:hover{
    background:#DBDBDB;
    border:1px solid #999999;
    color:#444444;
  }
  label:first-letter{
    text-transform: capitalize;
  }
  .error-margin-fix{
    margin-top: -16px;
  }
}

/* SEARCH */
.gameslist{
  img{
    max-width:100px !important;
    height:100px;
    float:left;
  }
}


/* RESPONSIVE */
@media only screen
and (max-width : 768px) {
  .row .row {
    margin-left: 0;
    margin-right: 0;
  }
  #profiel .alignfix {
    text-align: left;
  }
  .page_navigation .spelzoeken .widthfix,.page_navigation .aanmelden .widthfix {
    width: 100%;
    padding-left:15px;
    padding-right:15px;
  }
  #contact .contact{
    padding-left: 15px;
  }
}
