/* WEBFONTS */
@import url("../fonts/fonts.css");
/* VARIABLES
=================================================================
*/
/* LAYOUT
=================================================================
*/
/* GENERAL STUFF */
.row {
  max-width: 74.5rem; }

input:focus {
  outline: none; }

body {
  font-family: "corbert"; }

/* HEADER */
#header {
  background: #f2f2f2;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 50px; }
  #header h1 {
    font-family: "oxygen-bold";
    font-size: 3.3em;
    text-align: left;
    position: absolute;
    left: 85px;
    top: 51px; }
  #header #logo {
    float: left;
    margin: 37px 0 10px 0;
    height: 70px; }
  #header .profile {
    position: absolute;
    right: 0; }
    #header .profile p {
      font-family: "corbert";
      font-size: 18px; }
      #header .profile p i {
        font-size: 1.2em; }
      #header .profile p .seperator {
        font-size: 29px; }
  #header .navigation {
    position: absolute;
    right: 0;
    bottom: 5px; }
    #header .navigation a {
      padding: 20px;
      font-family: "oxygen-bold";
      font-size: 24px;
      color: #222222; }
    #header .navigation a:hover {
      color: #008cba; }
    #header .navigation a:last-of-type {
      padding-right: 0; }

.intro {
  margin-bottom: 30px !important; }
  .intro .paddingfix {
    padding-right: 0; }

.page_navigation .spelzoeken {
  background: #b9d9dc;
  height: 226px; }
  .page_navigation .spelzoeken .widthfix {
    width: 62.66667%; }
  .page_navigation .spelzoeken .paddingfix {
    padding-right: 0; }
  .page_navigation .spelzoeken h2 {
    font-family: "oxygen";
    color: #fff; }
  .page_navigation .spelzoeken p, .page_navigation .spelzoeken a {
    color: #fff; }
  .page_navigation .spelzoeken a:first-child {
    text-decoration: underline; }
  .page_navigation .spelzoeken i {
    margin: 4px;
    display: block;
    font-size: 2em; }
  .page_navigation .spelzoeken .button {
    background: #86A6A9;
    font-size: 18px;
    font-family: "oxygen";
    padding: 0px 20px; }
  .page_navigation .spelzoeken .button:hover {
    background: #537376; }
.page_navigation .aanmelden {
  background: #a2e1ac; }
  .page_navigation .aanmelden .widthfix {
    width: 62.33333%; }
  .page_navigation .aanmelden h2 {
    font-family: "oxygen";
    color: #fff; }
  .page_navigation .aanmelden i {
    margin: 4px;
    display: block;
    font-size: 2em; }
  .page_navigation .aanmelden p, .page_navigation .aanmelden a {
    color: #fff; }
  .page_navigation .aanmelden a:first-child {
    text-decoration: underline; }
  .page_navigation .aanmelden .button {
    background: #7fc98b;
    font-size: 18px;
    font-family: "oxygen";
    padding: 0px 20px; }
  .page_navigation .aanmelden .button:hover {
    background: #4C9658; }
